# General
alias c='clear'
alias zsh_config='vim ~/.zshrc'
alias sshconfig="vim ~/.ssh/config"

# List all files colorized in long format
alias l="ls -laF"

# PHP
alias art='php artisan'
alias mfs='php artisan migrate:fresh --seed'
alias mf='php artisan migrate:fresh'
alias tinker='php artisan tinker'

alias cu='composer update'
alias cr='composer require'
alias ci='composer install'
alias cda="composer dump-autoload -o"

alias pf="phpunit --filter"
alias pestf="pest --filter"

# Git
alias nah='git reset --hard;git clean -df'
alias gc="git checkout"
alias gpo="git push origin"
alias gst="git status"
alias glog="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"


# Windscribe
alias ws='windscribe'
alias ws_acc='windscribe account'
alias ws_us='windscribe connect US'
alias ws_gb='windscribe connect GB'

# Docker
alias docker-ps='docker ps --format "table {{.ID}}\t{{.Names}}\t{{.Status}}"'
