#  Commit everything
function commit () {
    local msg="$1"
    [[ "$msg" == -* || -z "$msg" ]] && msg="wip" || shift
    git add .
    git commit -a -m "$msg" "$@"
}

function editor-commit() {
  git add .
  git commit -a
}

# Bash into docker container
function docker-bash() {
  # Accepts container name
  docker exec -it $1 bash
}

function db-run {
  mysql -u root -p -e $1;
}

# Drop and create Mysql database
function db-fresh {
  mysql -u root -p -e "DROP DATABASE $1; CREATE DATABASE $1;"
}

# Create new database
function db-create {
	mysql -u root -p -e "CREATE DATABASE IF NOT EXISTS $1;"
}
