#  Commit everything
function commit() {
  commitMessage="$1"

  if [ "$commitMessage" = "" ]; then
     commitMessage="wip"
  fi

  git add .
  eval "git commit -a -m '${commitMessage}'"
}

function editor-commit() {
  git add .
  git commit -a
}

# Bash into docker container
function docker-bash() {
  # Accepts container name
  docker exec -it $1 bash
}

# Drop and create Mysql database
function db-fresh {
  mysql -u root -p -e "DROP DATABASE $1; CREATE DATABASE $1;"
}

# Create new database
function db-create {
	mysql -u root -p -e "CREATE DATABASE IF NOT EXISTS $1;"
}
